@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  overflow-x: hidden;
  background: #eee;
  background-image: url("./assets/bg/0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}
